[run]
source = app
omit = 
    app/__init__.py
    app/database.py
    app/main.py
    app/config.py
    app/models/comprobante.py
    app/models/consulta.py
    app/schemas/consulta.py

[report]
show_missing = True
fail_under = 60